<h1>{{title}}</h1>
<p>{{text}}</p>

<p>
	<form action="/" method="post">
		Request: <input type="text" name="town">
		<input type="submit" value="Search">
	</form>
</p> 

<p>
	Address: <b>{{address}}</b> <br />
	Latitude: <b>{{latitude}}</b> <br />
	Longtitude: <b>{{longtitude}}</b> <br />
	Elevation: <b>{{elevation}}</b> <br />
	Date and time: <b>{{dateAndTime}}</b> <br />
</p>